<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HRTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>com.sdzee.servlets.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Authentification</servlet-name>
		<servlet-class>com.sdzee.servlets.Authentification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authentification</servlet-name>
		<url-pattern>/authentification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>com.sdzee.servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Deconnexion</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GestionTestJDBC</servlet-name>
	    <servlet-class>com.sdzee.servlets.GestionTestJDBC</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>GestionTestJDBC</servlet-name>
	    <url-pattern>/testjdbc</url-pattern>
    </servlet-mapping>
	<filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter>
	    <filter-name>RestrictionFilter</filter-name>
	    <filter-class>com.sdzee.filters.RestrictionFilter</filter-class>
    </filter>
    <filter-mapping>
	    <filter-name>RestrictionFilter</filter-name>
	    <url-pattern>/WEB-INF</url-pattern>
    </filter-mapping>
</web-app>